<!DOCTYPE html>
<html>
<head>
	<title>Todos os Locais</title>

</head>
<body>
	<h1>Lista de Locais</h1>h1>

	<table>
		<tr>
			<th>Title</th>
			<th>Endereço</th>

		<tr>

	    <% @local.each do |local| %>
	    <tr>

	        <td><%= local.title %></td>
	        <td><%= local.endereco %></td>
	        <td><%= link_to 'Show', local_path(local) %></td>

	    </tr>
	    <% end %>

	<table>


</body>
</html>
