<!DOCTYPE html>
<html>
<head>
	<title>Local adicionado</title>
</head>
<body>

<p>

	<strong>Title:</strong>
	<%= @local.title %>

</p>

<p>
	<strong>Endereço:</strong>
	<%= @local.endereco %>

</p>

</body>
</html>